@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300,700,500,400italic,500italic,700italic,300italic);

* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
:root {
    --navbar-background-color: #000;
    --modal-background-color: #2e28bb;
    --overlay-background-color: rgba(0, 0, 0, 0.4);
    --social-icon-size: 40px;
    --myName-color: red;
    --myName-color1: white;
    --progress-bar-color: #8a6ae1;

    --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial,
        "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --heading-font: "Raleway", sans-serif;
    --para-font: "Robota", sans-serif;
}

p {
    font-family: var(--para-font);
}

section {
    margin-bottom: 3rem;
}

/******************Header Styles starts ********************/

#header {
    /* position: absolute; */
    background-color: var(--navbar-background-color);
    height: 50px;
}

#header ul {
    color: white;
}

#logo {
    color: white;
}
#hamberger-container {
    height: 26px;
    width: 30px;
    box-sizing: border-box;
    padding: 3px 5px;
    border: 1px solid white;
    border-radius: 5px;
}
#hamberger-container > div {
    height: 3px;
    border-radius: 3px;
    background-color: blanchedalmond;
    box-sizing: border-box;
}

#modal {
    position: absolute;

    box-sizing: border-box;
    top: 20%;
    bottom: 20%;
    left: 10%;
    right: 10%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 15px;
    z-index: 1000;
}
.modal-hide {
    display: none;
}
#modal ul {
    display: flex;
    background-color: var(--modal-background-color);
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    list-style: none;
}
#modal ul li {
    width: 100%;
    padding: 5px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#modal ul li a {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
}
#modal ul li:hover {
    color: aqua;
    background-color: #6f42c1;
}

/******************Header Styles ends ********************/

/******************Home Section Styles ********************/
#home {
    gap: 20px;
    background-image: url("./assets/1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1.5rem;
}
#home h2 {
    color: var(--myName-color1);
}
#img-container {
    aspect-ratio: 1;
    background-color: red;
    border-radius: 60%;
}
#img-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 60%;
}
#dynamicText {
    color: var(--myName-color);
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#blinking-cursor {
    height: 1rem;
    width: 2px;
    color: var(--myName-color);
    background-color: var(--myName-color);
    animation: blink 0.4s steps(1) infinite;
}

#social-icon-container {
    gap: 1.5rem;
}

.social-icon {
    height: var(--social-icon-size);
    width: var(--social-icon-size);
    border-radius: 50%;
}

.social-icon:hover {
    box-shadow: 0px 0px 16px 4px rgba(250, 4, 4, 0.3);
    scale: 0.98;
}

.social-icon img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
/******************Home Section Styles end********************/

.section-heading {
    position: relative;
    margin-bottom: 1.5rem;
    font-family: var(--heading-font);
}

.section-heading h2 {
    position: relative;
}
.section-heading h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 3px;
    background-color: red;
    left: 0;
    bottom: -7px;
    margin-top: 5px;
    margin: auto;
}

/* about styles start */
#profile-img-container {
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.3);
}
#profile-img-container > img {
    height: 100%;
    width: 100%;
}
#skill-container {
    width: 100%;
}

.skill-name-container {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

.skill-progress-bar {
    width: 100%;
    height: 8px;
}

.progress-bar {
    height: 100%;
    background-color: var(--progress-bar-color);
    width: 0px;
    transition: width 0.7s ease;
}
.progress-bar.animate-html {
    width: 90%;
}
.progress-bar.animate-reactjs {
    width: 80%;
}
.progress-bar.animate-nodejs {
    width: 75%;
}
.progress-bar.animate-mongodb {
    width: 80%;
}
/* about styles end */

/* project style starts */
#projects-wrap {
    width: 100%;
    gap: 2rem;
}

.project {
    border: 1px solid rgb(170, 67, 170);

    /* background-image: url("./assets/15684.jpg");
    object-fit: cover;
    object-position: center; */
}

.project:hover {
    .github-link a img,
    .deployment-link a img {
        opacity: 1;
    }

    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.5);
    scale: 1.05;
    transition: all 0.3s ease;
    cursor: pointer;
}

.project-img-wrap {
    width: 100%;
    aspect-ratio: 1;
    /* background-color: #6f42c1; */
}

.project-img-wrap img {
    height: 100%;
    width: 100%;
}

.links-container {
    display: flex;
    height: 30px;
    justify-content: space-around;
}

.github-link,
.deployment-link {
    height: 30px;
    width: 30px;
}

.github-link a img:hover,
.deployment-link a img:hover {
    scale: 1.05;
    box-shadow: 0px 0px 10px 8px rgba(232, 77, 240, 0.6);
}

.github-link a img,
.deployment-link a img {
    height: 100%;
    width: 100%;
    opacity: 0.5;
    border-radius: 50%;
    transition: all 0.5 ease-in;
}

footer h6 {
    line-height: 2rem;
}

button {
    padding: 10px 12px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}

button:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

button:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}
